*{
    width: 0;
    padding: 0;
    font-size: 20px;
}

body{
    width: 195vh;
    height: 100vh;
    background-color: gray;
}
p{
    color: whitesmoke;
    
}

.radius{
    width: 50%;
    height: 20%;
    background-color: black;
    margin-top: 10%;
    margin-left: 25%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    
}

.over{
    width: 50%;
    height: 20%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: black;
    position: relative;
    overflow: scroll;
}